# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# Environment Variables file (never commit secret credentials!)
.env

# IDE / Editor folders
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/
